/* Light Theme Colors */
$background-color: rgb(255, 255, 255);

$text-primary: rgba(137, 137, 137, 1);
$text-secondary: rgba(25, 32, 44, 1);

$btn-background: rgba(255, 0, 0, 1);
$btn-primary-text: rgba(255, 255, 255, 1);

/* Dark Theme Colors */
$background-color-dark: rgb(0, 0, 0);

$text-primary-dark: rgba(255, 255, 255, 1);
$text-secondary-dark: rgba(255, 255, 255, 1);

$btn-background-dark: rgba(255, 0, 0, 1);
$btn-background-dark: rgba(255, 255, 255, 1);
