@use 'colors' as *;

html[data-theme='light'] {
  --background-color: #{$background-color};

  --text-primary: #{$text-primary};
  --text-primary-hover: #{$text-primary-hover};
  --text-secondary: #{$text-secondary};

  --btn-background: #{$btn-background};
  --btn-primary-text: #{$btn-primary-text};

  --icon-color: #{$text-primary};
  --icon-color-hover: #{$text-primary-hover};
  --icon-color-secondary: #{$icon-color-secondary};
}

html[data-theme='dark'] {
  --background-color: #{$background-color-dark};

  --text-primary: #{$text-primary-dark};
  --text-primary-hover: #{$text-primary-hover-dark};
  --text-secondary: #{$text-secondary-dark};

  --btn-background: #{$btn-background-dark};
  --btn-primary-text: #{$btn-background-dark};

  --icon-color: #{$text-primary-dark};
  --icon-color-hover: #{$text-primary-hover-dark};
  --icon-color-secondary: #{$icon-color-secondary-dark};
}
