@use './reset';
@use './themes' as *;
@use 'fonts' as *;
@use './typography' as *;
@import './media.scss';

body {
  background-color: var(--background-color);
}

.icon {
  cursor: pointer;
  color: var(--icon-color);
}

input,
textarea,
button,
p,
span,
label {
  @include typography($font-size-m, $font-weight-regular, $line-height-m);
  color: var(--text-primary);
}

a {
  @include typography($font-size-m, $font-weight-regular, $line-height-l);
  color: var(--text-primary);
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--text-secondary);
}

.hideOnMobile {
  @media (max-width: $breakpoint-mobile) {
    display: none !important;
  }
}

.hideOnDesktop {
  display: none !important;

  @media (max-width: $breakpoint-mobile) {
    display: block;
  }
}
