@use './reset';
@use './themes' as *;
@use 'fonts' as *;
@use './typography' as *;

body {
  background-color: var(--background-color);
}

.icon {
  cursor: pointer;
  color: var(--icon-color);
}

input,
textarea,
button,
p,
span,
label,
a {
  @include typography($font-size-m, $font-weight-regular, $line-height-l);
  opacity: 0.6;
}
