.navbarWrapper {
  display: flex;
  flex-direction: column;
  padding: 0 30px;

  .navbarList {
    display: flex;
    flex-direction: column;
    gap: 29px;

    li:nth-child(3) {
      margin-bottom: 30px;
    }

    .navbarLink {
      display: flex;
      height: 20px;
      align-items: center;
      gap: 14px;
      cursor: pointer;

      &:hover {
        fill: var(--icon-color-hover);
        color: var(--icon-color-hover);
        p {
          color: inherit;
        }
      }
    }
  }
}
