@import '../../styles/media.scss';

.sidebarWrapper {
  display: flex;
  flex-direction: column;

  .settingsLink {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
    margin-left: 34px;
    margin-bottom: 30px;
    gap: 13px;

    &:hover {
      fill: var(--icon-color-hover);
      color: var(--icon-color-hover);

      span {
        color: inherit;
      }
    }
  }

  @media (max-width: $breakpoint-mobile) {
    display: none;
  }
}

.mobileSidebar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 61px;
  background: var(--background-color);
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 0px 22px 11px 24px;
  border-top: 1px solid rgba(241, 241, 241, 1);
  z-index: 999;

  .mobileSidebarIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover {
      fill: var(--icon-color-hover);
    }
  }

  .iconLabel {
    font-size: 10px;
  }

  @media (min-width: $breakpoint-mobile) {
    display: none;
  }
}

.hideOnMobile {
  @media (max-width: $breakpoint-mobile) {
    display: none !important;
  }
}

.hideOnDesktop {
  display: none;

  @media (max-width: $breakpoint-mobile) {
    display: flex !important;
  }
}
