.videoPlayerWrapper {
  width: 100%;
  margin-left: 35px;
  padding-right: 70px;

  .mainContent {
    display: flex;
    gap: 20px;
    margin-top: 20px;

    .videoPlayer {
      flex: 2;
      display: flex;
      flex-direction: column;
      gap: 30px;

      iframe {
        border-radius: 14px;
        width: 100%;
        height: 500px;
      }
    }

    .sidebarRecommendedWrapper {
      flex: 1;
      padding-left: 30px;
    }
  }

  .recommendedFeedWrapper {
    margin-top: 67px;
    margin-right: -70px;
    margin-left: -25px;
  }
}
